/*
* Final_task
* 
* This file represents block structure on the index page
* 
* @author Krystsina Kastsiuk kristina.v.kostyuk@gmail.com;
*/

@font-face {
  font-family: MyriadProBold;
  src: url(../fonts/MyriadPro-Bold.otf);
}
@font-face {
  font-family: MyriadProReg;
  src: url(../fonts/MyriadPro-Regular.otf);
  src: url(../fonts/MyriadPro-Regular.ttf);
  src: url(../fonts/MyriadPro-Regular.woff);
  src: url(../fonts/MyriadPro-Regular.eot);
}
* {
	margin: 0;
	padding: 0;
	font-family: MyriadProBold;
}
body {
	background-color: rgb(251, 251, 251);
	height: 100%;
	margin: 0 auto;
	width: 1020px;
}
.ratingNew label {
    position: relative;
    display: inline;
    float: left;
    z-index:1;
    height:16px;
}
.ratingNew input[type=radio] {
    z-index: 2;
    display:inline;
    float: left;
    width:16px;
    height:16px;
}
.ratingNew label .star {
	background-image: url(../img/sprites/right_tranpared.png);
	background-repeat: no-repeat;
	background-position: -10px -199px;
	height:16px;
    width:16px;
    z-index:1;
    position: absolute;
    top: 0;
    display:block;
    cursor:pointer;
    left: -16px;
	z-index: 2;
}
.ratingNew:hover .star {
    background-position: -10px -199px;
}
.ratingNew input:checked ~ label .star {
    background-position: -10px -10px;
}
.ratingNew input:checked + label .star {
    background-position: -10px -199px;
}
.ratingNew label:hover ~ label .star {
    background-position: -10px -10px !important;
}
.wrapper {
	width: 100%;
	min-height: calc(100vh - 86px);
	margin-left: 40px;
	margin-right: 40px;
	position: relative;
	z-index: 1;
}
.wrapper main {
	display: inline-block;
	width: 704px;
}
.wrapper hr {
	background-color: rgb(116, 116, 116);
	position: relative;
	top: 24px;
	height: 4px;
	width: 940px;
	z-index: 0;
}


/* Header */

header {
	height: 298px;
	margin-bottom: -185px;
}
header .topLogo {
	position: relative;
	top: 38px;
	left: 39px;
	width: 300px;
	cursor: pointer;
}
header a {
	text-decoration: none;
	color: black;
}
header .yellowLogo {
	height: 38px;
	width: 23px;
	border: 5px solid rgb(252, 210, 46);
	display: inline-block;
}
header .textLogo {
	font-family: MyriadProBold;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 24px;
	width: 150px;
	padding: 3px 0 0 6px;
	line-height: 0.9;
}
header .block {
	position: relative;
	border: 1px solid rgb(236, 236, 236);
}
header .searchInput {
	left: 350px;
	bottom: 27px;
	height: 45px;
	width: 402px;
	border-radius: 4px 4px 0 0;
	background-image: url(../img/sprites/header.png);
	background-repeat: no-repeat;
	background-position: -21px -173px;
	color: rgb(236, 236, 236);
	font-style: italic;
	font-family: MyriadProReg;
	font-size: 15px;
	padding: 2px 0 0 40px;
	outline: none;
}
header .searchInner {
	left: 164px;
	bottom: 8px;
	height: 37px;
	width: 98px;
	border-radius: 4px 4px 0 0;
	background-image: url(../img/sprites/header.png);
	background-repeat: no-repeat;
	background-position: 80px -256px;
	color: rgb(236, 236, 236);
	font-family: MyriadProReg;
	font-size: 15px;
	padding: 2px 0 0 40px;
	display: inline-block;
}
header .searchInner:hover ~ .menuHover {
	display: inline-block;
}
header .searchButton {
	font-size: 0;
	height: 46px;
	width: 42px;
	position: relative;
	left: 161px;
	bottom: 32px;
	display: inline-block;
	border: 0;
	border-radius: 0 4px 0 0;
	background-color: white;
	background-image: url(../img/sprites/header.png);
	background-repeat: no-repeat;
	background-position: -21px -17px;
	outline: none;
	cursor: pointer;
}
header button {
	display: inline-block;
	height: 50px;
	width: 82px;
	position: relative;
	background-color: white;
	border: 1px solid rgb(236, 236, 236);
	color: rgb(152, 152, 152);
	font-family: MyriadProReg;
	font-size: 14px;
	padding: 26px 0 4px 0px;
	background-image: url(../img/sprites/header.png);
	background-repeat: no-repeat;
	outline: none;
}
header .signUp {
	border-radius: 4px 0 0 4px;
	left: 182px;
	bottom: 16px;
	background-position: 0px -401px;
	cursor: pointer;
}
header .login {
	border-radius: 0 4px 4px 0;
	left: 178px;
	bottom: 16px;
	background-position: 1px -104px;
	cursor: pointer;
}
.menuHover {
	border: 1px solid rgb(236, 236, 236);
	display: nline-block;
	padding: 0 4px;
	position: relative;
	z-index: 2;
	background-color: white;
	display: none;
}
.menuHover:hover {
	display: inline-block;
}
.menuHover .header {
	width: 434px;
	height: 40px;
}
.menuHover .header p {
	font-size: 14px;
	font-family: MyriadProReg;
	color: rgb(204, 204, 204);
	position: relative;
	top: -7px;
	left: 26px;
}
.menuHover ul {
	display: inline-block;
	width: 140px;
}
.menuHover ul:nth-child(3) {
	border-left: 1px solid rgb(236, 236, 236);
	border-right: 1px solid rgb(236, 236, 236);
	padding: 0 2px;
}
.menuHover li {
	list-style-type: none;
	height: 26px;
	box-shadow: inset 0px 1px 0px 0px rgba(221, 221, 221, 0.004);
	font-size: 15px;
	font-family: MyriadProReg;
	color: rgb(153, 153, 153);
	background-image: url(../img/sprites/header.png);
	background-repeat: no-repeat;
	background-position: -19px -471px;
	padding: 9px 0 0 31px;
	cursor: pointer;
}
.menuHover li:nth-child(odd) {
	background-color: rgb(236, 236, 236);
}
.menuHover li:nth-child(even) {
	background-color: rgb(244, 244, 244);	
}
.menuHover li:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(85, 85, 85);
	background-image: url(../img/sprites/header.png);
	background-repeat: no-repeat;
	background-position: -21px -325px;
	padding: 9px 0 0 31px;
}
header .menuHover {
	left: 350px;
	bottom: 34px;
}
header .check {
	border-radius: 2px;
	background: #f4f4f4;
	color: #999999;
	height: 17px;
	width: 17px;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	border: none;
	position: relative;
	top: 9px;
}
	header #categories:checked + .checkLabel:after {
		background-image: url(../img/sprites/other.png);
		background-repeat: no-repeat;
		background-position: -29px -866px;
	}
	header .checkLabel:hover:after {
		background: 0;
	}
	header #categories:checked + .checkLabel:hover:after {		
		background-image: url(../img/sprites/other.png);
		background-repeat: no-repeat;
		background-position: -29px -866px;
	}
	header #categories {
		opacity: 0;
		position: relative;
		top: 11px;
		left: 6px;
	}
	header .checkLabel {
		position: relative;
		top: 9px;
		left: -36px;
	}
	header .checkLabel:after {
		content: " ";
		display: inline-block;
		width: 17px;
		height: 17px;
		position: relative;
		top: 4px;
		left: -1px;
	}














/* Buttom navigation */

.nav {
	display: inline-block;
	margin-bottom: 35px;
	height: 68px;
}
.nav .figure {
	z-index: 1;
	width: 117.5px;
}
.nav .figure .figcaption {
  text-decoration: none;
  color: rgb(116, 116, 116);
  font-size: 16px;
  text-align: center;
}
.nav a {
	text-decoration: none;
	display: inline-block;
}
.nav p {
	background-image: url(../img/sprites/top.png);
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	position: relative;
	left: 59px;
	margin-left: -19px;
	margin-bottom: 10px;
}
.nav a:hover p {
	background-image: url(../img/sprites/top_hover.png);
}
.nav a:hover .figcaption {
	color: rgb(253, 204, 5);
	text-transform: uppercase;
}
.nav a:nth-child(1) p {	background-position: -24px -194px; }
.nav a:nth-child(2) p {	background-position: -24px -363px; }
.nav a:nth-child(3) p {	background-position: -23px -602px; }
.nav a:nth-child(4) p {	background-position: -23px -107px; }
.nav a:nth-child(5) p {	background-position: -24px -526px; }
.nav a:nth-child(6) p {	background-position: -24px -26px;  }
.nav a:nth-child(7) p {	background-position: -24px -448px; }
.nav a:nth-child(8) p {	background-position: -21px -277px; }

/* Main block */

.main {
	display: inline-block;
	width: 940px;
}

/* Articles */

article {
	display: inline-block;
	width: 705px;
}

/* Bottom block with article */

.bottomBlock {
	position: relative;
	display: inline-block;
	border: 1px solid rgb(238,238,238);
	float: left;
	width: 338px;
	height: 235px;
	margin: 8px 10px 7px 0;
	background-color: white;
}

/* prev next icons */

.prevNext {
	display: inline-block;
	float: right;
	position: relative;
}
.prev {
	background-image: url(../img/sprites/right_tranpared.png);
	background-repeat: no-repeat;
	width: 21px;
	height: 23px;
	background-position: -1px -115px;
	border-left: 1px solid rgb(238,238,238);
	padding-right: 10px;
	display: inline-block;
}
.next {
	background-image: url(../img/sprites/right_tranpared.png);
	background-repeat: no-repeat;
	width: 21px;
	height: 23px;
	background-position: -8px -155px;
	padding-right: 7px;
	display: inline-block;
}


/* Sub-menu */

.subMenu {
	display: inline-block;
	width: 168px;
	border-right: 1px solid rgb(238,238,238);
	margin-right: 14px;
	float: left;
	padding-right: 5px;
	height: 370px;
}
.subMenu a {
	border: 1px solid rgb(238,238,238);
	width: 78px;
	height: 70px;
	display: inline-block;
	margin: 0 2px 3px 0;
	background-image: url(../img/sprites/left.png);
	background-repeat: no-repeat;
	background-color: white;
	color: rgb(85, 85, 85);
	text-decoration: none;
}
.subMenu a:hover {
	background-image: url(../img/sprites/left_hover.png);
	background-color: rgb(85, 85, 85);
	color: white;
}
.subMenu a:nth-child(1) {
	background-position: -90px -16px;
}
.subMenu a:nth-child(2) {
	background-position: -521px -17px;
}
.subMenu a:nth-child(3) {
	background-position: -607px -19px;
}
.subMenu a:nth-child(4) {
	background-position: -692px -19px;
}
.subMenu a:nth-child(5) {
	background-position: -180px -15px;
}
.subMenu a:nth-child(6) {
	background-position: -437px -19px;
}
.subMenu a:nth-child(7) {
	background-position: -269px -17px;
}
.subMenu a:nth-child(8) {
	background-position: -5px -16px;
}
.subMenu a:nth-child(9) {
	background-position: -352px -16px;
}
.subMenu a:nth-child(10) {
	background-position: -774px -12px;
}
.subMenu p {
	font-size: 11px;
	margin-top: 46px;
	text-align: center;
}




/* Bottom filter */

.filter {
	display: inline-block;
	width: 516px;
	vertical-align: top;
	float: left;
}
.filter a {
	border: 1px solid rgb(238,238,238);
	width: 78px;
	height: 30px;
	display: inline-block;
	margin: 0 2px 3px 0;
	color: rgb(85, 85, 85);
	vertical-align: top;
	background-color: white;
	text-decoration: none;
}
.filter a:hover {
	background-color: rgb(85, 85, 85);
	color: rgb(255, 255, 255);
}
.filter p {
	font-size: 12px;
	font-family: MyriadProReg;
	text-align: center;
	margin-top: 9px;
	margin-left: -2px;
}
.filter a:hover:after {
	content: ''; 
	position: relative;
	left: 28px;
	top: 17px;
	border: 10px solid transparent;
	border-top: 10px solid rgb(85, 85, 85);
}






/* Slider */

.slider {
	position: relative;
	display: inline-block;
	border: 1px solid rgb(238,238,238);
	float: left;
	top: 14px;
}
.sliderInner {
	overflow: hidden;
	position: relative;
	width: 504px;
	height: 279px;
}
.slides {
	width: 504px;
	height: 279px;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
.slide1 { background-image: url(../img/main/slide1.png); }
.slide2 { background-image: url(../img/main/slide2.jpg); }
.slide3 { background-image: url(../img/main/slide3.jpg); }

#radioSlide1:checked ~ .sliderInner > .slide1,
#radioSlide2:checked ~ .sliderInner > .slide2,
#radioSlide3:checked ~ .sliderInner > .slide3{
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}
.slider > input {
	display: none;
}
.slider .controls {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
}
.slider label {
	cursor: pointer;
	display: inline-block;
	height: 25px;
	margin: 0;
	position: relative;
	width: 26px;
	background-color: rgb(83, 83, 83);
	color: white;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}
#radioSlide1:checked ~ .controls label:nth-of-type(1),
#radioSlide2:checked ~ .controls label:nth-of-type(2),
#radioSlide3:checked ~ .controls label:nth-of-type(3) {
	background-color: rgb(254, 209, 2);
}
.slider .caption {
	height: 53px;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	border-right: 1px solid rgb(238,238,238);
	float: left;
	width: 452px;
}
.slider .captionText {
	height: 53px;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	font-size: 10.6px;
	line-height: 1.4;
	color: rgb(85, 85, 85);
	left: 12px;
	top: 8px;
	font-family; MyriadProReg;
}
.slider .captionText h4 {
	font-size: 15.31px;
}
#radioSlide1:checked ~ .caption > .caption1,
#radioSlide2:checked ~ .caption > .caption2,
#radioSlide3:checked ~ .caption > .caption3{
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}
.slider .play {
	width: 51px;
	height: 53px;
	background-color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	float: right;
}
.slider .pause {
	background-color: rgb(119, 119, 119);
	width: 4.5px;
	height: 15px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
}
.slider .left {
	top: 15.5px;
	left: 18px;
}
.slider .right {
	top: 15.5px;
	left: 19px;
}





/* Latest news */

.latestNews {
	position: relative;
	display: inline-block;
	border: 1px solid rgb(238,238,238);
	float: left;
	width: 490px;
	height: 30px;
	margin-top: 27px;
	padding-left: 14px;
	font-size: 11px;
	font-family: MyriadProReg;
	background-color: white;
}
.latestNews .latestNewsP {
	display: inline-block;
	position: relative;
	bottom: 9px;
	left: -5px;
	font-family: MariadProReg;
}
.latestNews .mostRecentP {
	display: inline-block;
	position: relative;
	bottom: 9px;
	left: 16px;
	width: 139px;
	height: 26px;
	text-align: center;
	font-family: MariadProReg;
	border: 1px solid rgb(236, 236, 236);
	cursor: pointer;
}
.latestNews .mostRecentP:hover ~ .menuHover {
	display: block;
}
.latestNews .menuHover {
	display: none;
	left: 99px;
	top: -10px;
	width: 135px;
	padding: 0;
}
.latestNews .menuHover:hover {
	display: block;
}
.latestNews .menuHover li {
	background-image: none;
	padding-left: 0;
	text-align: center;
	background-color: white;
}
.latestNews .menuHover li:hover {
	background-color: white;
	background-color: rgb(85, 85, 85);
}
.latestNews .clock {
	background-image: url(../img/sprites/other.png);
	background-position: -30px -572px;
	height: 24px;
	width: 24px;
	display: inline-block;
	padding: 0;
	position: relative;
	top: 3px;
}
.latestNews label {
	height: 100%;
	width: 40px;
	background-color: rgb(85, 85, 85);
	display: inline-block;
	float: right;
	background-image: url(../img/sprites/other.png);
	cursor: pointer;
}
.latestNews .viewList {
	background-position: -20px -715px;
}
.latestNews .viewTable {
	background-position: -19px -641px;
}
.latestNews > input {
	display: none;
}
#radioTable:checked ~ label:nth-of-type(1),
#radioList:checked ~ label:nth-of-type(2) {
	background-color: rgb(254, 209, 2);
}




/* Picture block */

.pictureBlock {
	border: 1px solid rgb(238,238,238);
	margin: 4px 5px;
	height: 145px;
	padding: 3px 3px;
	background-color: rgb(251, 251, 251);
}
.pictureBlock .picture {
	border: 1px solid rgb(238,238,238);
	height: 100px;
	margin-bottom: 7px;
}
.pictureBlock .details {
	width: 239px;
	float: left;
}
.pictureBlock .detailsOnPicture {
	position: relative;
	top: -45px;
	left: 10px;
	float: left;
}
.pictureBlock .detailsOnPicture h4 {
	font-size: 13px;
  font-family: "MyriadProBold";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
}
.pictureBlock .viewCount {
	font-size: 11px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
}
.pictureBlock .date {
	font-size: 9px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: relative;
  top: 19px;
  left: 17px;
}
.pictureBlock .buttonPlay {
	background-image: url(../img/sprites/other.png);
	background-repeat: no-repeat;
	background-position: -21px -935px;
	width: 36px;
	height: 36px;
	position: absolute;
	top: -6px;
	left: 162px;
}
.pictureBlock .clock {
  background-image: url(../img/sprites/other.png);
  background-position: -30px -572px;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 16px;
	left: -2px;
}
.pictureBlock .details h4 {
	font-size: 14px;
	color: rgb(119, 119, 119);
}
.pictureBlock .details a {
	text-decoration: none;
}
.pictureBlock p {
	font-size: 10px;
	color: rgb(119, 119, 119);
	font-family: MyriadProReg;
	text-align: justify;
}
.pictureBlock .eventDesc {
	text-indent: -56px;
}
.bottomBlock .description {
	font-size: 12px;
	color: rgb(152, 152, 152);
	line-height: 1.17;
	text-align: justify;
	padding: 2px 8px;
	font-family: MyriadProReg;
}
.pictureBlock .rating {
	width: 81px;
	float: right;
}
.pictureBlock .ratingHeader {
	font-family: MyriadProReg;
	font-size: 10px;
	color: rgb(119, 119, 119);
}
.pictureBlock .stars {
	display: inline-block;
}
.pictureBlock .ratingIcon {
	background-image: url(../img/sprites/right_tranpared.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 12px;
	display: inline-block;
}
.pictureBlock .full {
	background-position: -10px -196px;
}
.pictureBlock .empty {
	background-position: -10px -10px;
}
.pictureBlock .empty:hover {
	background-position: -10px -196px;
}
.pictureBlock .line {
	height: 63px;
	border-top:1px solid rgb(238,238,238);
	position: relative;
	margin-bottom: 10px;
}
.pictureBlock .lion {
	background-image: url(../img/main/pic1.png);
}
.pictureBlock .gorilla {
	background-image: url(../img/main/pic2.png);
}
.pictureBlock .penguins {
	background-image: url(../img/main/pic3.png);
}
.pictureBlock .shark {
	background-image: url(../img/main/pic4.png);
}
.pictureBlock .snake {
	background-image: url(../img/main/pic5.png);
}
.pictureBlock .frog {
	background-image: url(../img/main/pic6.png);
}
.pictureBlock .parrot {
	background-image: url(../img/main/pic7.png);
}
.pictureBlock .fish {
	background-image: url(../img/main/pic8.png);
}
.pictureBlock .event {
	background-image: url(../img/main/pic9.png);
	height: 58px;
	top: 5px;
	position: relative;
}








/* Right Bar */

.rightBar {
	position: relative;
	display: inline-block;
	border-left: 1px solid rgb(238,238,238);
	float: right;
	width: 235px;
	left: -80px;
}
.rightContainer {
	height: 100%;
}
.rightBar .pictureBlock {
	width: 216px;
	height: 140px;
	float: right;
	margin: 0 0 7px 0;
}
.rightBar .pictureBlock .details {
	width: 135px;
}
.rightBar .newsTitle {
	width: 221px;
	height: 30px;
	border: 1px solid rgb(238,238,238);
	background-color: white;
	float: right;
	margin-bottom: 7px;
}
.rightBar .newsIcon {
	background-image: url(../img/sprites/other.png);
	background-repeat: no-repeat;
	background-position: -23px -23px;
}
.rightBar .videosIcon {
	background-image: url(../img/sprites/other.png);
	background-repeat: no-repeat;
	background-position: -23px -97px;
}
.rightBar .eventsIcon {
	background-image: url(../img/sprites/other.png);
	background-repeat: no-repeat;
	background-position: -22px -172px;
	margin-top: 28px;
	padding-top: 4px;
}
.rightBar .newsTitle p {
	font-size: 12px;
	font-family: "MyriadProBold";
	color: rgb(119, 119, 119);
	margin-left: 31px;
	display: inline-block;
}
.rightContainer .pictureBlock {
	height: 100px;
	margin-bottom: 9px;
	font-size: 12px;
	font-family: "MyriadProBold";
	color: rgb(119, 119, 119);
}
.rightContainer .news {
	margin-bottom: 48px;
}
.rightContainer .videos {
	margin-bottom: -3px;
	margin-top: 9px;
}
.rightContainer .event {
	height: 100%;
}
.rightBar .ShopSubstr {
	background-image: url(../img/sprites/other.png);
	background-repeat: no-repeat;
}
.rightBar .little {
	text-transform: uppercase;
	font-family: MariadProReg!important;
	font-size: 10px!important;
	padding: 8px 0 4px 4px;
	border-left: 1px solid rgb(238,238,238);
}
.rightBar .shop {
	background-position: -24px -248px;
	margin: 10px 0 0 11px;
	width: 94px;
	float: left;
}
.rightBar .subscr {
	background-position: -24px -326px;
	margin-top: 10px;
	width: 116px;
	float: right;
}





/* aside */

aside {
	width: 940px;
	display: inline-block;
	border-top: 1px solid rgb(238,238,238);
}
aside .seePicture {
	height: 30px;
	border: 1px solid rgb(238,238,238);
	margin-top: 22px;
	position: relative;
}
aside .name {
	padding: 8px 12px;
	vertical-align: middle;
	padding-top: 6px;
}
aside .Magazine {
	background-image: url(../img/sprites/right_tranpared.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	background-position: -10px -79px;
	display: inline-block;
}
aside .headerAssieSmall {
	display: inline-block;	
	font-size: 12px;
	color: #777777;
	position: relative;
	left: 6px;
	top: -4px;
}
aside .listPicture {
	height: 250px;
	margin-top: 10px;
}
aside .listPicture ul {
	font-size: 10px;
}
aside .asideBlock {
	border: 1px solid rgb(238,238,238);
	width: 224px;
	display: inline-block;
	position: relative;
	margin-right: 8px;
}
aside .asideBlock:last-child {
	margin-right: 0;
}
aside .description {
	border: 1px solid rgb(238,238,238);
	width: 213px;
	height: 145px;
	position: relative;
	background: #fbfbfb;
	margin: 8px 5px;
}
aside .descriptionIcon {
	background-repeat: no-repeat;
	position: absolute;
	top: 5%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	display: inline-block;
	border: 1px solid rgb(238,238,238);
}
aside .descriptionIcon:hover {
	border-color: red;
}
aside .book1 {
	width: 69px;
	height: 100px;
	background-image: url(../img/aside/Layer4.png);
}
aside .book2 {
	width: 76px;
	height: 100px;
	background-image: url(../img/aside/Layer5.png);
}
aside .book3 {
	width: 69px;
	height: 100px;
	background-image: url(../img/aside/Layer6.png);
}
aside .book4 {
	width: 91px;
	height: 100px;
	background-image: url(../img/aside/Layer7.png);
}
aside .descriptionHeader {
	position: relative;
	top: 122px;
	font-size: 12px;
	font-family: MyriadProReg;
	width: 100%;
	text-align: center;
}
aside .subscripeIcon {
	background-image: url(../img/sprites/right_tranpared.png);
	background-repeat: no-repeat;
	width: 17px;
	height: 17px;
	background-position: -10px -42px;
	display: inline-block;	
	margin: 5px 8px;
}
aside .subscripeHeadet {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	text-transform: uppercase;
}
aside .subscripeAside {
	border: 1px solid rgb(238,238,238);
	width: 101px;
	float: right;
	font-size: 12px;
	display: inline-block;
	top: 4px;
	position: relative;
}
aside .rating {
	border: none;
	display: inline-block;
	font-size: 11px;
	margin-left: 8px;
}
aside .stars {
	display: inline-flex;
}
aside .ratingIcon {
	background-image: url(../img/sprites/right_tranpared.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 12px;
	background-position: -10px -196px;
}





/* footer */


footer {
	height: 67px;
	width: 940px;
	background-color: #1f1f1f;
	margin-left: 40px;
	position: relative;
}
footer .subscription {
	width: 360px;
	height: 50px;
	position: absolute;
	top: 18px;
	left: 10px;
}
footer .subscripeInput {
	height: 40px;
	width: 315px;
	vertical-align: top;
	background-color: #3e3e3e;
	border: 1px solid #3e3e3e;
	border-radius: 5px;
	color: #595959;
	padding-left: 20px;
	font-style: italic;
	font-size: 14px;
}
footer .subscripeButton {
	height: 37px;
	width: 97px;
	background-color: #1f1f1f;
	position: absolute;
	right: 27px;
	bottom: 11px;
	font-size: 13px;
	color: #848484;
	text-transform: uppercase;
	border: 1px solid #1f1f1f;
	border-radius: 5px;
	cursor: pointer;
}
footer .footerIcons {
	position: relative;
	top: -35px;
	right: -354px;
}
footer .facebook {
	background-image: url(../img/sprites/footer.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 25px;
	background-position: -10px -10px;
	display: inline-block;
	padding-left: 10px;
}
footer .twitter {
	background-image: url(../img/sprites/footer.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 25px;
	background-position: -10px -55px;
	display: inline-block;
	padding-left: 10px;
}
footer .youtube {
	background-image: url(../img/sprites/footer.png);
	background-repeat: no-repeat;
	width: 19px;
	height: 22px;
	background-position: -10px -100px;
	display: inline-block;
	padding-left: 10px;
}
footer .navigationFooter {
	float: right;
	width: 386px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
footer .menuFooter li {
	display: inline-block;
	border-right: 1px solid #bbbbbb;
	margin-right: 5px;
	padding-right: 5px;
}
footer .menuFooter li:last-child {
	border-right: 0;
}
footer .menuFooter li a {
	color: #bbbbbb;
	font-size: 11px;
	text-decoration: none;
	font-family: MyriadProReg;
}
footer .copyright {
	color: #4a4a4a;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: 20px;
	font-family: MyriadProReg;
}