/*
* Forms and widgets
* 
* This file represents block structure on the index page
* 
* @author Krystsina Kastsiuk kristina.v.kostyuk@gmail.com;
*/

@font-face {
	font-family: GothamSSm; 
	src: url(../fonts/GothamSSm-Light.ttf);
	src: url(../fonts/GothamSSm-Light.eot);
	src: url(../fonts/GothamSSm-Light-.eot);
	src: url(../fonts/GothamSSm-Light.woff);
}
@keyframes animate-width {
	0% { width: 0; }
	100% { visibility: visible; }
}
@keyframes animate-height {
	0% { height: 0; }
	100% { visibility: visible;	}
}
html, body {
	width: 2080px;
	margin: 0;
	height: 100%;
	background-color: rgb(217, 217, 217);
}
button {
	cursor: pointer;
}
.widget {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
	border: none;
	background: white;
	border: 1px solid #333;
	border-radius: 5px;
}
.mainWrapper {
	margin: 50px;
	font-family: GothamSSm, arial, sans-serif;
}
.widgetRow {
	width: 2030px;
	height: 100%;
	margin-bottom: 50px;
	display: inline-block;
	padding-right: 50px;
}
.redButton {
	width: 300px;
	height: 60px;
	background-color: rgb(251, 99, 98);
	border-radius: 3px;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.55);
	letter-spacing: 0.3px;
	color: white;
	border: 0;
	font-size: 16px;
	position: relative;
	font-weight: 500;
}
button:hover {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1.5);
}




/* Widget CALENDAR */

.calendar {
	width: 346px;
	height: 427px;
}

.calendar .cal {
	display: block;
	padding: 0 30px;
	background: white;
	border-spacing: 0;
}

.calendar .cal a {
	text-decoration: none;
	color: rgb(102, 102, 102);
}

.calendar .caption {
	line-height: 62px;
	color: #e2e2e2;
	text-align: center;
	background: rgb(65, 74, 89);
	width: 346px;
	font-size: 17px;
	padding-bottom: 2px;
}

.calendar .caption a {
	display: block;
	line-height: 62px;
	padding: 0 10px;
	font-size: 15px;
	color: #e2e2e2;
	text-decoration: none;
}
.calendar .caption .prev {
	float: left;
	margin-left: 27px;
	background: url(../img/spritesheet.png);
	background-position: -47px 8px;
	background-repeat: no-repeat;
}

.calendar .caption .next {
	float: right;
	margin-right: 27px;
	background: url(../img/spritesheet.png);
	background-position: -5px 8px;
	background-repeat: no-repeat;
}

.calendar .cal th, .cal td {
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.calendar .cal th:first-child, .cal td:first-child {
	border-left: 0;
}

.calendar .cal th {
	line-height: 51px;
	font-size: 14px;
	color: #696969;
	border: 0;
	position: relative;
	top: 6px;
}

.calendar .cal td {
	font-size: 13px;
	padding: 0;
	color: rgb(255, 255, 255);
}
.calendar .cal thead {
	background-color: white;
}
.calendar .cal tbody {
	background-color: white;
}
.calendar .cal td a {
	clear: both;
	display: block;
	position: relative;
	width: 41px;
	height: 41px;
	line-height: 41px;
}
.calendar .event-button {
	position: relative;
	top: 20px;
	left: 50%;
	margin-left: -150px;
}
.calendar .cal td.off a {
	color: rgb(197, 197, 197);
}
.calendar .cal td.event a {
	color: rgb(251, 99, 98);
	font-weight: bold;
}
.calendar .cal td.hover a, .cal td a:hover {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(251, 99, 98);
	border-radius: 100%;
}




/* Widget BOOKING */

.booking {
	width: 346px;
	height: 625px;
	float: left;
}

.booking .photo {
	background: url(../img/hotel.jpg) no-repeat;
	width: 100%;
	height: 184px;
	background-size: cover;
	position: relative;
	top: -18px;
}
.booking .name {
	color: white;
	font-size: 22px;
	letter-spacing: 1px;
	position: relative;
	top: 120px;
	left: 24px;
}
.booking .photo button {
	height: 18px;
	width: 20px;
	position: relative;
	top: 104px;
	left: 26px;
}
.booking .mapPoint {
	background: url(../img/spritesheet.png);
	background-position: -455px -15px;
	background-repeat: no-repeat;
	width: 12px;
	height: 17px;
	background-color: transparent;
	border: none;
}
.booking .location {
	color: white;
	font-size: 14px;
	border: none;
	position: relative;
	top: 84px;
	left: 43px;
}
.booking p {
	margin: 0 0 10px 0;
}
.booking dd {
	margin: 0;
}
.booking .info {
	font-size: 14px;
	color: rgb(77, 77, 77);
	font-weight: 800;
	position: relative;
	top: 6px;
	left: 24px;
}
.booking .field {
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	background-color: rgb(244, 244, 244);
	color: #999999;
}
.booking .date {
	height: 40px;
	width: 286px;
	border: none;
	font-size: 15px;
	letter-spacing: 0.3px;
	padding-left: 14px;
	margin-top: 10px;
}
.booking .calendar {
	height: 37px;
	width: 37px;
	background: url(../img/spritesheet.png) no-repeat center;
	background-color: rgb(65, 75, 89);
	background-position: -85px -5px;
	border: 0;
	border-radius: 2px;
	position: relative;
	bottom: 39px;
	left: 255px;
}
.booking .aaa {
	position: relative;
	top: -15px;
}
.booking .bbb {
	position: relative;
	top: -24px;
}
.booking .ccc {
	position: relative;
	top: -63px;
}
.booking .flexibleDates {
	display: inline-block;
	position: relative;
	left: -80px;
	bottom: 28px;
}
.booking .roundedRectangle {
	margin-left: -45px;
	background: url(../img/spritesheet.png) no-repeat center;
	background-color: rgb(65, 75, 89);
	background-position: -482px -2px;
	border: 0;
	width: 37px;
	height: 37px;
	padding-bottom: 12px;
	position: relative;
	left: 142px;
	top: -43px;
}
.booking #date:checked + .checkLabel:after {
	background: url(../img/spritesheet.png) no-repeat center;
	background-position: -142px -15px;
}
.booking .checkLabel:hover:after {
	background: 0;
}
.booking #date:checked + .checkLabel:hover:after {
	background: url(../img/spritesheet.png) no-repeat center;
	background-position: -142px -15px;
}
.booking #date {
	left: 300px;
	opacity: 0;
}
.booking .checkLabel {
	position: relative;
	top: -6px;
	left: -65px;
}
.booking .checkLabel:after {
	content: " ";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: relative;
	top: -20px;
	left: -25px;
}
.booking .check2 {
	border-radius: 2px;
	background: #f4f4f4;
	color: #999999;
	height: 17px;
	width: 23px;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	border: none;
	position: relative;
	bottom: 30px;
	left: -40px;
}
.booking .count {
	float: left;
	font-size: 15px;
	color: #666666;
	font-weight: 900;
	position: relative;
	top: -11px;
	margin-right: 14px;
}
.booking .count .select {
	width: 128px;
	height: 46px;
	background-color: rgb(244, 244, 244);
	border-radius: 2px;
	border: none;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	padding-left: 10px;
	padding-right: 5px;
}
.booking .menu {
	width: 100px;
	background: rgb(244, 244, 244);
	z-index: 1;
	margin: 0;
	border: 1px solid #999999;
	position: relative;
	top: -37px;
}
.booking .menu li {
	display: block;
	position: relative;
	left: -32px;
}	
.booking .menu li a {
	display: block;
	padding-top: 5px;
	color: #999999;
	text-decoration: none;
}
.booking .adults {
	display: none; /* Display the drop-down list */
}
.booking .children {
	display: none; /* Display the drop-down list */
}
.booking .searchRooms {
	top: -14px;
	padding: 0 0 5px 0;
}
.booking .searchImg {
	position: relative;
	left: 30px;
	top: 27px;
	background: url(../img/spritesheet.png) no-repeat;
	width: 45px;
	height: 36px;
	background-position: -552px -0px;
}





/* Widget DESTINATION */

.destination {
	width: 790px;
	height: 340px;
	float: left;
	margin-left: 396px;	
}
.destination main {
	width: 324px;
	height: 100%;
	display: inline-block;
	word-wrap:break-word;
	padding: 5px 0 0 36px;
	letter-spacing: 0.7px;
	color: rgb(77, 77, 77);
	line-height: 1.7;
	text-align: left;
	position: relative;
}
.destination main .reviewCount {
	font-size: 14px;
	line-height: 0;
	letter-spacing: 0.1px;
}
.destination main .text {
	font-size: 14px;
	color: rgb(153, 153, 153);
	line-height: 1.74;
	margin-top: 37px;
	letter-spacing: 0;
}
.destination main .readMore {
	margin-top: -3px;
}
.destination main::after {
	content: ''; 
	position: absolute;
	left: 360px;
	top: 35px;
	border: 24px solid transparent;
	border-left: 24px solid white;
	z-index: 2;
}
.destination aside {
	position: relative;
	float: right;
	z-index: 1;
	width: 360px;
	height: 100%;
	background: url(../img/boat.png) no-repeat;
	background-size: cover;
	background-position: 0px -20px;
	display: inline-block;

	border-radius: 0px 5px 5px 0px;
}
.destination .voice {
	position: relative;
	z-index: 2;
	left: 170px;
	top: 295px;
}
.destination .heart {
	position: relative;
	z-index: 2;
	left: 227px;
	top: 295px;
}
.destination .count {
	position: relative;
	display: inline;
	z-index: 2;
	color: white;
	font-size: 17px;
}
.destination .voiceCount {
	left: 150px;
	top: 290px;
}
.destination .heartCount{
	left: 201px;
	top: 290px;
}
.destination nav {
	width: 70px;
	height: 100%;
	float: left;
	display: inline-block;
	border-radius: 5px 0px 0px 5px;
}
.destination button {
	width: 70px;
	height: 114px;
	padding: 0px;
}
.destination a {
	color: red;
	text-decoration: none;
}
.destination button:nth-child(1) {
	background-color: rgb(251, 99, 98);
	background-image: url(../img/spritesheet.png);
	background-position: -222px 30px;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 5px 0px 0px 0px;
}
.destination button:nth-child(2) {
	background-color: rgb(65, 74, 89);
	background-image: url(../img/spritesheet.png);
	background-position: -333px 25px;
	background-repeat: no-repeat;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid black;
	margin-top: -4px;	
}
.destination button:nth-child(3) {
	background-color: rgb(65, 74, 89);
	background-image: url(../img/spritesheet.png);
	background-position: -605px 27px;
	background-repeat: no-repeat;
	border-top: 1px solid black;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	margin-top: -4px;
	border-radius: 0px 0px 0px 5px;
}




/* Widget BAR GRAPH */

.barGraph {
	width: 790px;
	height: 340px;
	position: relative;
	border-radius: 4px;
	float: right;
}
.barGraph * {
	box-sizing: border-box;
}
.barGraph ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.barGraph .bars {
	height: 100%;
	padding-bottom: 64px;
	position: absolute;
	width: 100%;
}
.barGraph .bar-group {
	float: left;
	height: 276px;
	position: relative;
	left: 104px;
	width: 90px;
}
.barGraph .bar-group:last-child {
	margin-right: 0;
}
.barGraph .bar-group .bar {
	visibility: hidden;
	animation: animate-height;
	animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	bottom: 0;
	position: absolute;
	width: 55px;
}
.barGraph .bar {
	background-color: rgb(251, 99, 98);
}
.barGraph .lable {
	text-align: center;
	width: 60%;
	margin-left: -30%;
	position: relative;
	left: 0;
}
.barGraph .bar-group span {
	text-align: center;
	position: relative;
	bottom: 45px;
	width: 100%;
	display: none;
	height: 30px;
	border: 0;
	border-radius: 5%;
	line-height: 30px;
	color: white;
	background-color: rgb(65, 74, 89);
}
.barGraph .bar-group:hover span {
	display: block;
	font-size: 12px;
}
.barGraph .bar-group span::after {
	content: ''; 
	position: absolute;
	left: 20px;
	top: 30px;
	border: 7px solid transparent;
	border-top: 7px solid rgb(65, 74, 89);
}

.barGraph .bar-group .bar-1 {
	animation-delay: 0.3s;
}
.barGraph .bar-group .bar-2 {
	animation-delay: 0.4s;
}
.barGraph  .bar-group .bar-3 {
	animation-delay: 0.5s;
}
.barGraph .bar-group .bar-4 {
	animation-delay: 0.6s;
}
.barGraph .bar-group .bar-5 {
	animation-delay: 0.7s;
}
.barGraph .bar-group .bar-6 {
	animation-delay: 0.8s;
}
.barGraph .bar-group .bar-7 {
	animation-delay: 0.9s;
}
.barGraph .x-axis {
	bottom: 0;
	position: absolute;
	left: 85px;
	margin-bottom: 40px;
}
.barGraph .x-axis li {
	float: left;
	font-size: 11px;
	width: 90px;
	padding-left: 35px;
	letter-spacing: 1px;
}
.barGraph .y-axis {
	position: absolute;
	text-align: right;
	bottom: 0px;
	margin-bottom: 63px;
}
.barGraph .y-axis li {
	border-bottom: 1px solid rgb(234, 234, 234);
	height: 70px;
	width: 700px;
	position: relative;
	left: 45px;
}
.barGraph .y-axis li span {
	display: block;
	color: rgb(102, 102, 102);
	font-size: 11px;
	width: 40px;
	position: relative;
	top: 53px;
	left: -3px;
	text-align: left;
}




/* Widget EMAIL */

.email {
	width: 330px;
	border-radius: 4px;
	padding: 26px 25px;
	float: right;
}
.email button:hover {
	box-shadow: none;
}
.email .fieldEmail {
	border-radius: 2px;
	box-shadow: 0px -4px 1px -3px #cccccc;
	min-height: 45px;
	background: #f4f4f4;
}
.email .email {
	width: 148px;
	height: 21px;
	padding: 12px 29px 4px 11px;
	background: #404a58;
	color: white;
	font-size:  14px;
	font-family: GothamSSm;
	display: inline-block;
	margin: 3px 4px 4px 4px;
	float: left;
}
.email .buttonRemove {
	height: 16px;
	width: 16px;
	margin-left: -29px;
	background: url(../img/spritesheet.png);
	background-position: -534px -7px;
	background-repeat: no-repeat;
	border: none;
	padding-bottom: 3px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	top: 10px;
	left: 5px;
}
.email .buttonAdd {
	height: 16px;
	width: 16px;
	background: url(../img/spritesheet.png);
	background-position: -395px 2px;
	border: none;
	padding: 19px 18px 25px 25px;
	float: right;
}
.email .attachment {
	box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.8) inset;
	margin-top: 27px;
	width: 318px;
	height: 42px;
	background: #f4f4f4;
	font-family: GothamSSm;
	padding-left:  11px; 
	padding-top:  0px; 
	font-size: 14.4px;
	border: none;
	box-shadow: 0px -4px 1px -3px #cccccc;
}
.email .addAttachment {
	height: 22px;
	width: 22px;
	background: url(../img/spritesheet.png);
	background-position: -191px -12px;
	background-repeat: no-repeat;
	border: none;
	float: right;
	position: relative;
	top: -33px;
	left: -13px;
}
.email .message {
	width: 318px;
	height: 208px;
	margin-top: 1.5%;
	background: #f4f4f4;
	font-family: GothamSSm;
	padding: 11px 0 0 11px;
	font-size: 14px;
	border: none; 
	box-shadow: 0px -4px 1px -3px #cccccc;
	resize: none;
}
.email .areaSend {
	height: 68px;
}
.email .send {
	width: 127px;
	height: 50px;
	top: 20px;
	left: 203px;
}