body {
	width: 32%; 
	margin: 0 auto;
	padding-top: 32px;
}
header { 
	min-height: 60px;
	background: rgb(113, 101, 88); 
	margin-bottom: 16px;
}
nav { 
	width: 20%; 
	min-height: 165px;
	float: left; 
	background: rgb(251, 176, 64); 
}
section { 
	min-height: 278px;
	background: rgb(41, 170, 226); 
	margin-left: 23%; 	
}
article {	
	font: 13px Verdana;
	text-align: justify;
	text-indent: 20px;
	padding: 10px;
}
ul {
	list-style-type: none;
	margin-top: 10px;
}
a {
	font-family: 13px Verdana;
	cursor: pointer;
	text-decoration: none;	
	margin-left: -20px;
}
footer {
	min-height: 60px;
	clear: left;  
	background: rgb(140, 198, 63);
	margin-top: 16px;
}
.content {
	min-height: calc(100vh - 140px);
}