body {
	width: 460px; 
	padding-top: 30px;	
	margin: 0 auto; 
}
header { 
	min-height: 60px;
	background: rgb(113, 101, 88); 
	margin-bottom: 16px;
}
.layout {
	border-right: 100px solid rgb(251, 176, 64); 
	border-left: 100px solid rgb(251, 176, 64); 
	background: rgb(41, 170, 226);
}
nav { 
	width: 100px; 
	min-height: 100px;
	float: left; 
	background: rgb(251, 176, 64);
	margin-left: -100px; 
}
aside { 
	width: 100px; 
	float: right; 
	background: rgb(251, 176, 64);
	margin-right: -100px; 
}
.clear { 
	clear: both; 
}
article {	
	font-family: 13px Verdana;
	text-align: justify;
	text-indent: 20px;
	padding: 10px;
}
ul {
	list-style-type: none;
	margin-top: 10px;
}
a {
	font-family: 13px Verdana;	
	cursor: pointer;
	text-decoration: none;
	margin-left: -20px;
}
footer { 
	min-height: 60px;
	background: rgb(140, 198, 63); 
	margin-top: 16px;
}
.content {
	min-height: calc(100vh - 135px);
}